table.array {
  border-spacing: 0;
  border-collapse: collapse;
}
table.array td {
  border: 2px solid darkblue;
  background-color: lightblue;
  padding: 2px;
  text-align: center;
}
.operation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  font-family: monospace;
  font-size: 2em;
  justify-content: center;
}
.vertical {
  writing-mode: vertical-rl;
}
table.array th.axis_label, table.array td.axis_label {
  border: 0;
  background-color: white;
  padding: 2px;
  font-weight: normal;
  font-size: 0.8em;
}
table.array .selected td, table.array td.selected {
  background-color: orange;
}
table.array td.empty, table.array tr.empty td {
  background-color: white;
  color: lightgrey;
}
